
@import '~nativescript-theme-core/css/core.light.css';
.extra-bold{
    font-family: "Khand-Bold", "Khand Bold";
    font-weight: 800;
    font-size: 32;
}

.bold{
    font-family: "Assistant-Bold","Assistant";
    font-weight: 700;
}

.semi-bold{
    font-family: "Assistant-SemiBold","Assistant SemiBold";
    font-weight: 600;
}

.align-center { 
        text-align: center; 
}
.footer{
    background-image: linear-gradient(to right, #397DC8, #5461CB);
}